<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>댓글쓰기</title>

</head>
<body>
    <div layout:fragment="content" align="center">
	<h4> 댓글작성</h4>
    <form th:action="@{/repl/createRepl}" method="post">
             <div style="border:3px solid green; display:inline-block; ">
             댓글 작성자 : <div th:text="${memberDTO.memberNick}"></div>
             </div>
                        <input type="submit" value="댓글등록"/>
                <textarea name="content" id="content" rows="3" cols="100" required></textarea>
                <input type="hidden" name="bdId" th:value="${bdId}" />
                <input type="hidden" name="memberId" th:value="${session.memberId}" />
    </form>
</div>
</body>
</html>