<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>댓글 수정</title>
<style>
</style>
</head>
<body>
    <div layout:fragment="content">
	
	<div>
	<h5 class="repl" th:text="|[${memberDTO.memberNick}]님의 댓글 |">댓글수정 페이지</h5>
    <form th:action="@{/repl/updateRepl}" method="post">
        <table>
            <tr>
                <td>
                    <textarea name="content" rows="3" cols="200" th:text="${replDTO.content}"></textarea>
                    <input type="submit" value="댓글수정"/>
                </td>
                <td><input type="hidden" name="bdId" th:value="${replDTO.bdId}" ></td>
                <td><input type="hidden" name="memberId" th:value="${replDTO.memberId}" ></td>
                <td><input type="hidden" name="replId" th:value="${replDTO.replId}" ></td>
            </tr>
        </table>
    </form>
    </div>
</div>
</body>
</html>