<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>게시판 상세 조회</title>
<script>
</script>
</head>
<body>
<div layout:fragment="content">
	
	<!-- 제목 및 작성자 정보 영역 -->
	<div class="detailBody-parent">
		<div class="detailBody">
			<span class="bdId" th:text="|[ ${bdDTO.bdId} ]|">글번호</span>&emsp;&emsp;
			<span class="bdTitle" style="width:200px " th:text="${bdDTO.title}">제목</span> <br>
			</div>
			
		<div class="detailBody">
			작성자 : <span class="bdWriter" th:text="${bdDTO.memberNick}">작성자</span>&emsp;&emsp;
			조회수 : <span th:text="${bdDTO.readCnt}"></span>&emsp;&emsp;
			작성일 : <span t		h:text="${#dates.format(bdDTO.createDt,'yy-MM-dd | hh:mm:ss')}"></span>&emsp;<br>
		</div>
	</div>
		
		<!-- 게시글 내용 영역 -->
		<hr>
		<div><span th:utext="${bdDTO.content}"></span></div>
	<hr>
	<div class="mybtn-parent">
		<div th:if="${session.memberId == bdDTO.memberId}">
			<input class="mybtn" type="button" value="수정" th:onclick="|location.href='@{/bd/updateBd(bdId=${#strings.toString(bdDTO.bdId)})}'|" />
			<input class="mybtn" type="button" value="삭제" th:onclick="|location.href='@{/bd/deleteBd(bdId=${#strings.toString(bdDTO.bdId)})}'|" /><br><br>
		</div>
		<span th:if="${session.memberId != null}">
			<input class="mybtn" type="button" value="글쓰기" th:onclick="checkSession()" /></span>
		<input class="mybtn" type="button" value="목록보기" th:onclick="|location.href='@{/bd/main}'|" />
	</div>
	<!-- 댓글 목록 -->
	<!-- 
		id에 번호를 붙여서 for문을 돌 때, js에서 id번호에 맞게 수정 틀이 나오도록 한다. 
		두 번째 댓글 화면 만들기
		
		
	 -->
		<div class="blog__details__comment">
			<h5>Comment</h5>
<div class="mybtn btn-write" th:if="${session.memberId != null}">
	<a href="#" class="leave-btn" th:onclick='|location.href="@{/repl/createRepl(bdId=${bdDTO.bdId}, memberId=${bdDTO.memberId})}"|'/>Leave a comment</a>
</div>
			<div class="blog__comment__item" th:each="replDTO : ${replList}">
				<div class="blog__comment__item__pic">
					<img th:src="@{/member/memberUUID(replDTO.memberId)}" alt="">
				</div>
				<div class="blog__comment__item__text">
					<h6>
						<span th:text="${replDTO.memberNick}"></span>
						<span class="mybtn" th:if="${session.memberId == replDTO.memberId}"> 
						<input type="button" id="uBtn" value="수정" th:onclick='|location.href="@{/repl/updateRepl(bdId=${bdDTO.bdId},replId=${replDTO.replId})}"|' />
						<input type="button" id="dBtn" value="삭제" th:onclick='|location.href="@{/repl/deleteRepl(bdId=${bdDTO.bdId},replId=${replDTO.replId})}"|' />
					</span>
					</h6>

					<p th:text="${replDTO.content}">내용</p>
					<input type="hidden" th:id="'hdContent' + ${replDTOStat.index}"	th:value="${replDTO.content}" /><br> 
					<ul>
						<li><i class="fa fa-clock-o"></i>
							<span th:text="${#dates.format(replDTO.createDt , 'yyyy-MM-dd')}">등록일</span></li>
						<li><i class="fa fa-heart-o"></i> 12</li>
						<li><i class="fa fa-share"></i> 1</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
