<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>일반게시판 전체 조회</title>
<style>

	.mybtn {
		padding-right : 0 20% 0 0;
	}
</style>
<script>
	function checkSession() {
		
		let jsSession = "[[${session.memberId}]]";
		console.log(jsSession);
		/*
		if (jsSession == "") {
			alert("빈문자열")
		} 
		if (jsSession == null) {
			alert("null")
		} 
		if (jsSession == undefined) {
			alert("undifined")
		} 
		*/
		
// 세션확인 있으면 > 로그인ok > 글쓰기 화면으로
		if (jsSession != "") {
			alert('로그인 확인 했습니다. 글쓰기 화면으로 이동합니다.');
			location.href = "/bd/createBd";
		} else { //	없으면 > 로그인x > 로그인화면으로
			alert('먼저 로그인을 해야 합니다. 로그인 화면으로 이동합니다.')
			location.href="/member/loginMember";
		}
		
	}
	
</script>
</head>
<body>
<div layout:fragment="content">
	  <div align="center">
	  <h3>커뮤니티 게시글 리스트</h3>
   <table border="1">
      <tr>
         <th>번호</th>
         <th>제목</th>
         <th>작성자</th>
         <th>작성일</th>
         <th>조회수</th>
      </tr>
      <tr th:each="bdDTO : ${bdList}" >
         <td th:text="${bdDTOStat.count}">번호</td>
         <td><a th:text="${bdDTO.title}" th:href="@{/bd/bdDetail(bdId=${bdDTO.bdId})}">제목</a></td>
         <td th:text="${memberDTO.memberNick}">닉네임</td>
         <td th:text="${#dates.format(bdDTO.createDt , 'yyyy-MM-dd')}">등록일</td>
         <td th:text="${bdDTO.readCnt}">조회수</td>
      </tr>
   </table>
	  </div>
	  
	  
	  
	    <!-- Breadcrumb Begin -->
		<div class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__links">
							<a th:href="@{/main}"><i class="fa fa-home"></i> Home</a>
							<span>Blog</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->
		<div align="right" class="mybtn" th:if="${session.memberId != null}">
		<form><input type="button" value="글쓰기" th:onclick="checkSession()"/>
		</div>
		<!-- Blog Section Begin -->
		<section class="blog spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="blog__item">
							<div class="blog__item__pic large__item set-bg" data-setbg="/ashion/img/blog/blog-1.jpg"></div>
							<div class="blog__item__text">
								<h6><a th:href="@{/main}">No Bad Blood! The Reason Why Tamr Judge Finally Made Up With...</a></h6>
								<ul>
									<li>by <span>Ema Timahe</span></li>
									<li>Seb 17, 2019</li>
								</ul>
							</div>
						</div>
						<div class="blog__item">
							<div class="blog__item__pic set-bg" data-setbg="/ashion/img/blog/blog-7.jpg"></div>
							<div class="blog__item__text">
								<h6><a th:href="@{/main}">Pot Party! See Farrah Abraham Flaunt Smoking Body At...</a></h6>
								<ul>
									<li>by <span>Ema Timahe</span></li>
									<li>Seb 17, 2019</li>
								</ul>
							</div>
						</div>
						<div class="blog__item">
							<div class="blog__item__pic set-bg" data-setbg="/ashion/img/blog/blog-9.jpg"></div>
							<div class="blog__item__text">
								<h6><a th:href="@{/main}">CMT Awards 2019 Red Carpet Arrivals Carrie Underwood, Sheryl...</a></h6>
								<ul>
									<li>by <span>Ema Timahe</span></li>
									<li>Seb 17, 2019</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="blog__item">
							<div class="blog__item__pic set-bg" data-setbg="/ashion/img/blog/blog-2.jpg"></div>
							<div class="blog__item__text">
								<h6><a th:href="@{/main}">Amf Cannes Red Carpet Celebrities Kendall Jenner, Pamela...</a></h6>
								<ul>
									<li>by <span>Ema Timahe</span></li>
									<li>Seb 17, 2019</li>
								</ul>
							</div>
						</div>
						<div class="blog__item">
							<div class="blog__item__pic set-bg" data-setbg="/ashion/img/blog/blog-4.jpg"></div>
							<div class="blog__item__text">
								<h6><a th:href="@{/main}">Ireland Baldwin Shows Off Trendy Ilse Valfre Tattoo At Stagecoach...</a>
								</h6>
								<ul>
									<li>by <span>Ema Timahe</span></li>
									<li>Seb 17, 2019</li>
								</ul>
							</div>
						</div>
						<div class="blog__item">
							<div class="blog__item__pic set-bg" data-setbg="/ashion/img/blog/blog-8.jpg"></div>
							<div class="blog__item__text">
								<h6><a th:href="@{/main}">Kim Kardashian Steps Out In Paris Wearing Shocking Sparkly...</a></h6>
								<ul>
									<li>by <span>Ema Timahe</span></li>
									<li>Seb 17, 2019</li>
								</ul>
							</div>
						</div>
						<div class="blog__item">
							<div class="blog__item__pic set-bg" data-setbg="/ashion/img/blog/blog-10.jpg"></div>
							<div class="blog__item__text">
								<h6><a th:href="@{/main}">A-list Battle! Angelina Jolie & Lady Gaga Fighting Over Who...</a></h6>
								<ul>
									<li>by <span>Ema Timahe</span></li>
									<li>Seb 17, 2019</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="blog__item">
							<div class="blog__item__pic set-bg" data-setbg="/ashion/img/blog/blog-3.jpg"></div>
							<div class="blog__item__text">
								<h6><a th:href="@{/main}">Gigi Hadid, Rita Ora, Serena & Other Hot Celebs Stun At 2019...</a></h6>
								<ul>
									<li>by <span>Ema Timahe</span></li>
									<li>Seb 17, 2019</li>
								</ul>
							</div>
						</div>
						<div class="blog__item">
							<div class="blog__item__pic set-bg" data-setbg="/ashion/img/blog/blog-5.jpg"></div>
							<div class="blog__item__text">
								<h6><a th:href="@{/main}">Billboard Music Awards: Best, Worst & Wackiest Dresses On The...</a></h6>
								<ul>
									<li>by <span>Ema Timahe</span></li>
									<li>Seb 17, 2019</li>
								</ul>
							</div>
						</div>
						<div class="blog__item">
							<div class="blog__item__pic large__item set-bg" data-setbg="/ashion/img/blog/blog-6.jpg"></div>
							<div class="blog__item__text">
								<h6><a th:href="@{/main}">Stephanie Pratt Busts Out Of Teeny Black Bikini During Hawaii...</a></h6>
								<ul>
									<li>by <span>Ema Timahe</span></li>
									<li>Seb 17, 2019</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-12 text-center">
						<a th:href="@{/main}" class="primary-btn load-btn">Load more posts</a>
					</div>
				</div>
			</div>
		</section>
		<!-- Blog Section End -->
	
		<!-- Instagram Begin -->
		<div class="instagram">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-2 col-md-4 col-sm-4 p-0">
						<div class="instagram__item set-bg" data-setbg="/ashion/img/instagram/insta-1.jpg">
							<div class="instagram__text">
								<i class="fa fa-instagram"></i>
								<a th:href="@{/main}">@ ashion_shop</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 p-0">
						<div class="instagram__item set-bg" data-setbg="/ashion/img/instagram/insta-2.jpg">
							<div class="instagram__text">
								<i class="fa fa-instagram"></i>
								<a th:href="@{/main}">@ ashion_shop</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 p-0">
						<div class="instagram__item set-bg" data-setbg="/ashion/img/instagram/insta-3.jpg">
							<div class="instagram__text">
								<i class="fa fa-instagram"></i>
								<a th:href="@{/main}">@ ashion_shop</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 p-0">
						<div class="instagram__item set-bg" data-setbg="/ashion/img/instagram/insta-4.jpg">
							<div class="instagram__text">
								<i class="fa fa-instagram"></i>
								<a th:href="@{/main}">@ ashion_shop</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 p-0">
						<div class="instagram__item set-bg" data-setbg="/ashion/img/instagram/insta-5.jpg">
							<div class="instagram__text">
								<i class="fa fa-instagram"></i>
								<a th:href="@{/main}">@ ashion_shop</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 p-0">
						<div class="instagram__item set-bg" data-setbg="/ashion/img/instagram/insta-6.jpg">
							<div class="instagram__text">
								<i class="fa fa-instagram"></i>
								<a th:href="@{/main}">@ ashion_shop</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Instagram End -->
		</form>
</div>
</body>
</html>