<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<head>

	<link rel="stylesheet" th:href="@{/ashion/css/mycss.css}" type="text/css">
	<script th:src="@{/ashion/ckeditor/ckeditor.js}"></script>
	<script th:src="@{/ashion/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{http://dmaps.daum.net/map_js_init/postcode.v2.js}"></script>
	<script>

		function execDaumPostcode() {
			new daum.Postcode({
				oncomplete: function(data) {
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
		
					// 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
					var extraRoadAddr = ''; // 도로명 조합형 주소 변수
		
					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if (data.buildingName !== '' && data.apartment === 'Y'){
					extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if (extraRoadAddr !== ''){
						extraRoadAddr = ' (' + extraRoadAddr + ')';
					}
					// 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
					if (fullRoadAddr !== ''){
						fullRoadAddr += extraRoadAddr;
					}
		
					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('zipcode').value = data.zonecode; //5자리 새우편번호 사용
					document.getElementById('roadAddress').value = fullRoadAddr;
					document.getElementById('jibunAddress').value = data.jibunAddress;
		
				}
			}).open();
		}
	</script>
	<script>
		let isPassId = false;
		let isPassPasswd = false;
		
		
		$().ready(function() {
		    // 아이디 입력란의 keyup 이벤트 리스너 추가
		    $("#memberId").keyup(function(){
		        let memberIdLength = $(this).val().length; // 입력된 아이디의 길이

		        // 길이가 5글자 미만인 경우 빨간 글씨로 메시지 출력
		        if (memberIdLength < 5) {
		            $("#isValidIdMsg").html("<span style='color:red;'>아이디는 5글자 이상이어야 합니다.</span>");
		        } else {
		            $("#isValidIdMsg").empty(); // 5글자 이상인 경우 메시지를 비움
		        }
		    });
		});
		
		
		$().ready(function() {
			
			$("#passwd").keyup(function(){
			let passwd = $(this).val();
		
		
			// 정규 표현식을 사용하여 비밀번호가 조건을 충족하는지 확인
			let passwordRegex = /^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])(?=.{8,})/;
			
			if (!passwordRegex.test(passwd)){
				$("#isValidPasswdMsg").html("<span style='color:red;'>비밀번호는 8글자 이상이어야 하며, 영어 대문자, 숫자, 특수기호를 모두 포함해야 합니다.</span>");
				return;
			} else {
				$("#isValidPasswdMsg").empty(); // Clear error message if valid
			}
		});	
	
		
			$("#isValidId").click(function(){
				
				let memberId = $("#memberId").val();
				if (memberId == '') {
					$("#isValidIdMsg").html("<span style='color:red;'>아이디를 입력하세요.</span>");
					return;
				}
			
				$.ajax({
					
				type : "post",
				url : "/member/validId",
				data : {"memberId" : memberId},
				success : function(isValidId) {
					
					if (isValidId == "y") {
						$("#isValidIdMsg").html("<span style='color:green;'>사용가능한 아이디입니다.</span>");
						isPassId = true;
					}
					else {
						$("#isValidIdMsg").html("<span style='color:red;'>중복된 아이디입니다.</span>");
						isPassId = false;
					}
				}
				});
			});	
			
			$("#confirmPasswd").blur(function(){
				
				let passwd = $("#passwd").val();
				let confirmPasswd = $("#confirmPasswd").val();
				if (passwd != "" && passwd == confirmPasswd) {
					$("#isValidPasswdMsg").html("<span style='color:green;'>패스워드가 일치합니다.</span>");
					isPassPasswd = true;
				}
				else {
					$("#isValidPasswdMsg").html("<span style='color:red;'>패스워드가 일치하지 않습니다.</span>");
					isPassPasswd = false;
				}
			});	
		});
		function checkFormValidation() {
			if (!isPassId) {
				alert("아이디를 확인해주세요.");
				$("#memberId").focus();
				return false;
			}
			if (!isPassPasswd) {
				alert("패스워드를 확인해주세요.");
				$("#confirmPasswd").focus();
				return false;
			}
		}
		
	</script>
</head>
<body>
<br><br>
<div layout:fragment="content">

<div align="center">
		<form 	th:action="@{/member/registerMember}" 
				th:onsubmit="return checkFormValidation();" 
				method="post" enctype="multipart/form-data">
			
			<br>
			<h5 class="title">회원가입</h5>
			<br>
			<hr>
			<span class="required-form-marker">*</span>는 필수사항입니다.
			<table border="1">
				<tr>
					<td class="mytd1"><label>아이디</label></td>
					<td class="mytd2">
			            <input type="text" name="memberId" id="memberId" placeholder="아이디" required/>&emsp;
			            <input type="button" id="isValidId" value="중복확인" /><br>&emsp;
			            <span id="isValidIdMsg"></span>
			        </td>
			    </tr>
		        <tr>
			        <td class="mytd1"><label>비밀번호</label></td>
			        <td class="mytd2">
						<input type="password" id="passwd" name="passwd" placeholder="비밀번호" required/>
					</td>
		        </tr>
		        <tr>
			        <td class="mytd1"><label>비밀번호 확인</label></td>
			        <td class="mytd2">
			        	<input type="password" id="confirmPasswd" placeholder="비밀번호확인" required/>&emsp;
			        	<span id="isValidPasswdMsg"></span>
						
			        </td>
		        </tr>
		        <tr>
			        <td class="mytd1"><label>이름</label></td>
			        <td><input type="text" name="memberNm" placeholder="이름" required/></td>
		        </tr>                
		        <tr>
			        <td class="mytd1"><label>닉네임</label></td>
			        <td class="mytd2"><input type="text" name="memberNick" placeholder="닉네임" required/></td>
		        </tr>                
			    <tr>
			        <td class="mytd1"><label>성별</label></td>
			        <td class="mytd2">
			        	<input type="radio" name="sex" value="m"  checked/> 남성&emsp;&emsp;
						<input type="radio" name="sex" value="w" />여성
			        </td>
		        </tr>                              
		        <tr>
			        <td class="mytd1"><label>핸드폰 번호</label></td>
			        <td class="mytd2">
						<input type="text" name="hp" placeholder="010-0000-0000">
			        </td>
		        </tr>                         
		        <tr>
			        <td class="mytd1"><label>이메일</label></td>
			        <td class="mytd2">
			        	<input type="email" name="email" >  
			        </td>
		        </tr>
		        <tr>
			        <td class="mytd1"><label>프로필</label></td>
			        <td class="mytd2"><input type="file" name="a" /></td>
		        </tr>                              
		        <tr>
			        <td class="mytd1"><label>주소</label></td>
			        <td class="mytd2">
			        	<input type="text" placeholder="우편번호 입력" id="zipcode" name="zipcode" >
		                <input type="button" th:onclick="javascript:execDaumPostcode()" value="검색"><br>
		                <label>도로명 주소</label><input type="text" name="roadAddress" id="roadAddress" size="60"> <br>
						<label>지번 주소</label><input type="text"  name="jibunAddress" id="jibunAddress" size="60"> <br>
						<label>나머지 주소</label><input type="text" name="namujiAddress" id="namujiAddress" size="60"/>
			        </td>
		        </tr>
		        <tr>
			        <td class="mytd1"><label>기타</label></td>
			        <td class="mytd2">
			        	<textarea rows="10" cols="50" name="etc"></textarea>
			        	<script>CKEDITOR.replace('etc');</script>
			        </td>
		        </tr>                                     
		        <tr class="my-right">
			        <td colspan="2">
			        	<input type="submit" value="회원가입하기"  >
			        	이미 회원가입을 하셨다면? <a th:href="@{/member/loginMember}"><strong>로그인하기</strong></a>
			        </td>
		        </tr>                            
		     </table>
	     </form>
	</div>


</div>

</body>
</html>