<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>오아시스 첫화면</title>
</head>
<body>

<div layout:fragment="content">

<!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="categories__item categories__large__item set-bg" data-setbg="/img/main.jpg">
                    <div class="categories__text">
                        <h1>Oasis</h1>
                        <p>영성 아카데미 </p>
                        <a href="#">아카데미소개</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/img/academy.jpg">
                            <div class="categories__text"> 
                            <h4 align="right">OASIS 방송</h4>
                                <p align="right">1 items</p>
                                <a href="#" align="right">GO TO THE NEWEST EPISODE</a>
                            </div>
                        </div> 
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/img/memorial.png">
                            <div class="categories__text">
                                <h4>OASIS 영성기념관</h4>
                                <p>1 items</p>
                                <a href="#">THE SPIRITUALITY MEMORIAL</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/img/book.jpg">
                            <div class="categories__text">
                                <h4>도서출판암마</h4>
                                <p>1 items</p>
                                <a href="#">BOOK LIST</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/img/community.jpg">
                            <div class="categories__text">
                                <h4>COMMUNITY BOARD</h4>
                                <p>792 items</p>
                                <a href="#">NEW POST</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</div>
	

</body>
</html>