<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<!--    
	원하는 html에 복붙
	<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
	<div layout:fragment="content">비공통화면 코드</div> 
			
	-->
<head>
	<meta charset="UTF-8">
	<meta name="description" content="오아시스 아카데미 홈페이지">
	<meta name="keywords" content="oasis, 오아시스, 오아시스아카데미, Spirituality">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<title layout:title-pattern="$CONTENT_TITLE"></title>
	
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
	
	<!-- Css Styles -->
	<link rel="stylesheet" th:href="@{/ashion/css/bootstrap.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/ashion/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/ashion/css/elegant-icons.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/ashion/css/jquery-ui.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/ashion/css/magnific-popup.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/ashion/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/ashion/css/slicknav.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/ashion/css/style.css}" type="text/css">
	<script th:src="@{/ashion/js/jquery-3.3.1.min.js}"></script>
</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Offcanvas Menu Begin -->
	<div class="offcanvas-menu-overlay"></div>
	<div class="offcanvas-menu-wrapper">
		<div class="offcanvas__close">+</div>
		<ul class="offcanvas__widget">
			<li><span class="icon_search search-switch"></span></li>
			<li><a href="#"><span class="icon_heart_alt"></span>
					<div class="tip">2</div> </a></li>
			<li><a href="#"><span class="icon_bag_alt"></span>
					<div class="tip">2</div> </a></li>
		</ul>
		<div class="offcanvas__logo">
			<a href="index"><img src="/img/logo.jpg" alt=""></a>
		</div>
		<div id="mobile-menu-wrap"></div>
		<div class="offcanvas__auth">
			<span th:if="${session.memberId == null}">
				<a th:href="@{/member/loginMember}">로그인</a>
				<a href="/member/registerMember">회원가입</a>
			</span> 
			<span th:unless="${session.memberId == null}">
				<a th:href="@{/member/logoutMember}">로그아웃</a>
				<a th:href="@{/member/updateMember(memberId=${session.memberId})}">회원정보수정</a>
			</span>
		</div>
	</div>
	<!-- Offcanvas Menu End -->

	<!-- Header Section Begin -->
	<header class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-3 col-lg-8">
					<div class="header__logo" align="center">
						<a href="/main"><img src="/img/logo.jpg"></a>
					</div>
				</div>
				<div class="col-xl-6 col-lg-7" align="right">
					<nav class="header__menu">
						<ul>
							<li class="active"><a href="/main"}>Home</a></li>
							<li><a href="/bs/main">방송</a>
								<ul class="dropdown">
									<li><a th:href="@{/bs/main}">방송국소개</a></li>

									<li><a th:href="@{/bs/bsAll}">방송탐방</a>
									<ul>
										<li><a th:href="@{/bs/1}">월요일방송</a></li>
										<li><a th:href="@{/bs/3}">화요일방송</a></li>
										<li><a th:href="@{/bs/2}">수요일방송</a></li>
										<li><a th:href="@{/bs/4}">목요일방송</a></li>
										<li><a th:href="@{/bs/5}">금요일방송</a></li>
										<li><a th:href="@{/bs/6}">토요일방송</a></li>
										<li><a th:href="@{/bs/7}">주일방송</a></li>
									</ul>
									</li>
								</ul>
							</li>
							<li><a href="/memorial/main">영성기념관</a>
								<ul class="dropdown">
									<li><a th:href="@{/memorial/purpose}">건립취지</a></li>
									<li><a th:href="@{/memorial/visit}">기념관순례</a>
									<ul>
										<li><a th:href="@{/memorial/1}">첫번째 방</a></li>
										<li><a th:href="@{/memorial/2}">두번째 방</a></li>
										<li><a th:href="@{/memorial/3}">세번째 방</a></li>
										<li><a th:href="@{/memorial/4}">네번째 방</a></li>
										<li><a th:href="@{/memorial/5}">다섯번째 방</a></li>
										<li><a th:href="@{/memorial/6}">여섯번째 방</a></li>
										<li><a th:href="@{/memorial/7}">일곱번째 방</a></li>
									</ul>
									</li>
								</ul>
							</li>
							<li><a th:href="@{/book/main}">도서출판암마</a>
								<ul class="dropdown">
									<li><a th:href="@{/book/main}">출판사 소개</a></li>
									<li><a th:href="@{/author/bdList}">저자 소개</a></li>
									<li><a th:href="@{/book/bdList}">도서 안내</a>
										<ul>
											<li><a th:href="@{/book/bdList}">총 도서목록</a></li>
											<li><a th:href="@{/book/bdLIst}">주제별 도서목록</a></li>	
										</ul>
									</li>								
								</ul>
							</li>
							<li>
								<a th:href="@{/bd/main}">게시판</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3">
					<div class="header__right">
						<div class="header__right__auth">
							<span th:if="${session.memberId == null}">
								<a th:href="@{/member/loginMember}">로그인</a>
								<a href="/member/registerMember">회원가입</a>
							</span> 
							<span th:unless="${session.memberId == null}">
								<a th:href="@{/member/logoutMember}">로그아웃</a>
								<a href="/member/updateMember">회원정보수정</a>
							</span>
						</div>
						<ul class="header__right__widget">
							<li><span class="icon_search search-switch"></span></li>
							<li><a href="#"><span class="icon_heart_alt"></span>
									<div class="tip">2</div> </a></li>
							<li><a href="#"><span class="icon_bag_alt"></span>
									<div class="tip">2</div> </a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="canvas__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header Section End -->

	<div layout:fragment="content"></div>


	<!-- Footer Section Begin -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-10 col-sm-7" align="center">
					<div class="footer__about">
						<div class="footer__logo">
							<a href="#"><img src="/img/logo.jpg" alt=""></a>
						</div>
						<div align="center">
							<span>오아시스 아카데미 홈페이지<br> 본질영성
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-5">
					<div class="footer__widget">
						<h6>Quick links</h6>
						<ul>
							<li><a href="#">About</a></li>
							<li><a href="#">Blogs</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">FAQ</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-4">
					<div class="footer__widget">
						<h6>사이트맵</h6>
						<ul>
							<li><a th:href="@{bs/main}">오아시스방송</a></li>
							<li><a th:href="@{memorial/main}">영성기념관</a></li>
							<li><a th:href="@{book/main}">도서출판암마</a></li>
							<li><a th:href="@{bd/bdList}">게시판</a></li>
						</ul>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-lg-12">
					
					<div class="footer__copyright__text">
						<p>
							Copyright &copy;
							<script>
								document.write(new Date().getFullYear());
							</script>
							All rights reserved | OASIS Academy
						</p>
					</div>
					
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->
	<!-- Js Plugins -->
	
	<script th:src="@{/ashion/js/bootstrap.min.js}"></script>
	<script th:src="@{/ashion/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/ashion/js/jquery-ui.min.js}"></script>
	<script th:src="@{/ashion/js/mixitup.min.js}"></script>
	<script th:src="@{/ashion/js/jquery.countdown.min.js}"></script>
	<script th:src="@{/ashion/js/jquery.slicknav.js}"></script>
	<script th:src="@{/ashion/js/owl.carousel.min.js}"></script>
	<script th:src="@{/ashion/js/jquery.nicescroll.min.js}"></script>
	<script th:src="@{/ashion/js/main.js}"></script>
	<script th:src="@{/ashion/ckeditor/ckeditor.js}"></script>

</body>

</html>