<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.oasisCMS.member.dao.MemberDAO">
	<insert id="createMember" parameterType="MemberDTO">
		INSERT INTO MEMBER (
			MEMBER_ID, PASSWD, JOIN_DT, MEMBER_NM, MEMBER_NICK,
			PROFILE_IMG, PROFILE_UUID,
			SEX, HP, EMAIL,	ZIPCODE,
			ROAD_ADDRESS,JIBUN_ADDRESS,NAMUJI_ADDRESS,
			ETC
		) VALUES (
			#{memberId},#{passwd}, #{joinDt}, #{memberNm}, #{memberNick},
			#{profileImg}, #{profileUUID},
			#{sex}, #{hp}, #{email}, #{zipcode},
			#{roadAddress},	#{jibunAddress},#{namujiAddress},
			#{etc}
		)
	</insert>

	<select id="checkValidId" parameterType="String" resultType="String">
		SELECT 	MEMBER_ID 
		FROM 	MEMBER 
		WHERE 	MEMBER_ID = #{memberId}
	</select>

	<select id="login" parameterType="String" resultType="MemberDTO">
		SELECT	PASSWD,	ACTIVE_YN	
		FROM	MEMBER	
		WHERE	MEMBER_ID = #{memberId}
	</select>

	<select id="getMemberDetail" parameterType="String"	resultType="MemberDTO">
		SELECT 	* FROM MEMBER WHERE MEMBER_ID = #{memberId}
	</select>

	<update id="updateMember" parameterType="MemberDTO">
		UPDATE 	MEMBER
		<set>
			<if test='MEMBER_NICK != null and !MEMBER_NICK.equals("")'>
				MEMBER_NICK = #{memberNick},
			</if>
			<if	test='MEMBER_PROFILE_IMG != null and !MEMBER_PROFILE_IMG.equals("")'>
				PROFILE_IMG = #{profileImg},
			</if>
			<if	test='MEMBER_PROFILE_UUID != null and !MEMBER_PROFILE_UUID.equals("")'>
				PROFILE_UUID= #{profileUUID},
			</if>
			<if test='sex != null and !sex.equals("")'>
				sex= #{sex},
			</if>
			<if test='HP != null and !HP.equals("")'>
				HP= #{hp},
			</if>
			<if test='EMAIL != null and !EMAIL.equals("")'>
				EMAIL= #{email},
			</if>
			<if test='ZIPCODE != null and !ZIPCODE.equals("")'>
				ZIPCODE = #{zipcode},
			</if>
			<if test='ROAD_ADDRESS != null and !ROAD_ADDRESS.equals("")'>
				ROAD_ADDRESS = #{roadAddress},
			</if>
			<if test='JIBUN_ADDRESS != null and !JIBUN_ADDRESS.equals("")'>
				JIBUN_ADDRESS = #{jibunAddress},
			</if>
			<if test='NAMUJI_ADDRESS != null and !NAMUJI_ADDRESS.equals("")'>
				NAMUJI_ADDRESS = #{namujiAddress},
			</if>
			<if test='ETC != null and !etc.equals("")'>
				ETC= #{etc},
			</if>
		</set>
		WHERE 	MEMBER_ID = #{memberId}
	</update>
	
	<select id="getMemberList" resultType="MemberDTO">
		SELECT 	* 
		FROM 	MEMBER
	</select>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM 	MEMBER
		WHERE 			MEMBER_ID = #{memberId}
	</delete>
	
	<update id="updateInactiveMember" parameterType="String">
		UPDATE 	MEMBER
		SET 	ACTIVE_YN = 'N', INACTIVE_DT = NOW()
		WHERE 	MEMBER_ID = #{memberId}
	</update>
	
	<select id="getTodayNewMemberCnt" parameterType="String" resultType="int">
		SELECT	COUNT(MEMBER_ID) 
		FROM 	MEMBER 
		WHERE 	LEFT(JOIN_AT , 10) = #{today}
	</select>
	
	<select id="getInactiveMemberList" resultType="MemberDTO">
		<![CDATA[
			SELECT	MEMBER_ID,	PROFILE_UUID
			FROM	MEMBER
			WHERE	INACTIVE_AT < (SELECT DATE_SUB(CURRENT_DATE ,  INTERVAL 90 DAY))
		]]>
	</select>
</mapper>
