<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.oasisCMS.memorial.dao.MemorialDAO">
	<insert id="createBd" parameterType="MemorialDTO">
		INSERT INTO	MEMORIAL(
			BD_ID, TITLE, CONTENT, BD_IMG, BD_UUID
		)VALUES(
			#{bdId},#{title},#{content},#{bdImg},#{bdUUID}		
		)
	</insert>
	
	<select id="getBdList1" resultType="MemorialDTO">
		SELECT	*
		FROM 	MEMORIAL
		LIMIT   0,3;
	</select>		
	<select id="getBdList2" resultType="MemorialDTO">
		SELECT	*
		FROM 	MEMORIAL
		LIMIT   3,3;
	</select>		
	<select id="getBdList3" resultType="MemorialDTO">
		SELECT	*
		FROM 	MEMORIAL
		LIMIT  6,3;
	</select>		
	
	<select id="getBdDetail" parameterType="long" resultType="MemorialDTO">
		SELECT 	* 
		FROM 	MEMORIAL
		WHERE 	BD_ID = #{bdId}
	</select>
	<update id="updateReadCnt" parameterType="long">
		UPDATE 	MEMORIAL 
		SET		READ_CNT = READ_CNT+1
		WHERE 	BD_ID = #{bdId}
	</update>
	<update id="updateMember" parameterType="MemberDTO">
		UPDATE	MEMBER
		<set>
			<if test='bdImg != null and !bdImg.equals("")'>
				BD_IMG = #{bdImg},
			</if>
			<if test='bdUUID != null and !bdUUID.equals("")'>
				BD_UUID = #{bdUUID},
			</if>
			<if test='content!= null and !content.equals("")'>
				CONTENT = #{content},
			</if>
			<if test='title != null and !title.equals("")'>
				TITLE = #{title},  
			</if>
			READ_CNT= READ_CNT-1
		</set>
		WHERE BD_ID = #{bdId}	
	</update>
	<delete id="deleteBd" parameterType="long">
		DELETE FROM MEMORIAL
		WHERE BD_ID=#{bdId}	
	</delete>
</mapper>
