<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.oasisCMS.repl.dao.ReplDAO">
	<insert id="createRepl" parameterType="hashMap">
		INSERT INTO REPL (
			REPL_ID, BD_ID, MEMBER_ID, CONTENT
		)VALUES(
			#{replId}, #{bdId},#{memberId},#{content}
		)
		
	</insert>	
	<select id="getReplCnt" parameterType="long" resultType="int">
		SELECT COUNT(BD_ID)
		FROM	REPL
		WHERE BD_ID = #{bdId}
	</select>

	<resultMap type="hashmap" id="joinMap">
		<result property="memberId" column="MEMBER_ID"/>	
		<result property="memberNick" column="MEMBER_NICK"/>	
		<result property="bdId" column="BD_ID"/>	
		<result property="replId" column="REPL_ID"/>	
		<result property="content" column="CONTENT"/>	
		<result property="createDt" column="CREATE_DT"/>	
	</resultMap>
	<select id="getReplList" parameterType="long"  resultMap="joinMap"> 
		SELECT 
					M.MEMBER_ID, 
	           	 	M.MEMBER_NICK,
					REPL_ID,
					R.CONTENT, 
					R.CREATE_DT 
			FROM 	REPL R, MEMBER M 
			WHERE 	R.MEMBER_ID = M.MEMBER_ID
			AND 	R.BD_ID = #{bdId}
	</select>
	
	
	
	<select id="getReplDetail" parameterType="long" resultType="ReplDTO">
		SELECT 	*
		FROM 	REPL
		WHERE	REPL_ID = #{replId}
	</select>
	
	<update id="updateRepl" parameterType="ReplDTO">
		UPDATE 	REPL
		SET		CONTENT = #{content}
		WHERE 	REPL_ID = #{replId}
	</update>
	
	<delete id="deleteRepl" parameterType="long">
		DELETE FROM REPL
		WHERE REPL_ID = #{replId}	
	</delete>
</mapper>
