<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>영성기념관 순례</title>
<style>
table {
		border-color:green;
		width:200px;
	 	height:300px; 
	 }
</style>
<script>
	function checkSession() {

		let jsSession = "[[${session.memberId}]]";
		console.log(jsSession);

		// 세션확인 있으면 > 로그인ok > 글쓰기 화면으로
		if (jsSession != "") {
			// alert('로그인 확인 했습니다. 글쓰기 화면으로 이동합니다.');
			location.href = "/memorial/createBd";
		} else { //	없으면 > 로그인x > 로그인화면으로
			alert('먼저 로그인을 해야 합니다. 로그인 화면으로 이동합니다.')
			location.href = "/member/loginMember";
		}
	}
	
</script>
</head>
<body>
<div layout:fragment="content">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span><a th:href="@{/memorial/bdList}">영성기념관</a></span>
                        <span><a th:href="@{/memorial/visit}">기념관 순례</a></span>
                        <span><a th:href="@{/memorial/visit/2}">둘째방</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Blog Section Begin -->
   <section class="blog spad" align="center">
  	<img src="/img/memorial/visit_2.gif" />
</section>

    <!-- Blog Section End -->
	
</div>
</body>
</html>