@font-face {
    font-family: 'ChosunKg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChosunSg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}
.bs-radio{
	font-size:1rem;
	font-weight:900;
	margin-bottom:30px;
	height: 40px;
	background-color:lightpink;
	border-radius:10px;
	line-height:40px;
	padding-left:30px;
	padding-right:30px;
	}
.bs-radio input[type="radio"] {
    width:auto;
    margin-left:20px; /* 라디오 버튼 간격 조정 */
}
.bs-title{
	display:inline-block;
	width:60%;
	font-size:2rem;
}
.mybtn{
	display:inline-block;
	width: 100px;
	font-size : 1rem;
	font-weight: 900;
	border-radius:10px;
}
.title{
	text-align:center;
	border: 5px solid grey;
	margin:100px;
	padding:20px;
	border-radius:10px;
	box-shadow: 10px 10px 10px rgba(30, 50, 100, 0.5); /* Add shadow effect */	
}
.author-box{
	display: flex; /* 부모 요소를 Flex Container로 설정 */
    flex-wrap:wrap;
    margin:20px;
}
.author-box1{
	width: 400px;
    margin: 20px;
    margin-top:20px;
    margin-bottom:20px;
}

.bdId {
	color:darkgey;
	font-size:0.8rem;
}

.bdTitle{
	color:black;
	background-color:corn-silk;
	font-size:1.1rem;
}

.bdWriter{
	color:grey;
	font-size:0.8rem;
}

.detailBody{
	display:inline-block;
	text-align:center;
	margin:0 20%;
}
.repl-area1{
	text-align:left;
	margin-left:10%;
	padding-left:10px;
}
.header__menu{
	font-family: 'ChosunKg';
	font-weight: bolder;
	font-size: 1.2rem;
}
.repl-area2{
	text-align:left;
	margin-left:10%;
	padding-left:10px;
}
.btn-write{
	text-align:right;
	padding-right:20%;
}
.center{
	text-align:center;
	padding:30px;
}

.mybody {
    width: auto;
    margin: 0 auto;
    background-color: #f1f1f1;
}

table {
    border: 2px navy solid;
    width: 80%;
    border-radius: 5px;
    margin: 0 auto; /* Center horizontally */
    box-shadow: 10px 10px 10px rgba(30, 50, 100, 0.5); /* Add shadow effect */	
}

.audio {
	width: 80%;
}

input{
		padding-left:10px;
}

input[type="text"] {
		width:60%;
	  	align-items: center;
	  	border-radius:8px;
	  	font-family: 'ChosunSg';
		font-size:1.1rem;
		font-weight: 600;		
}
td {
	text-align: left;
	border:3px gray solid;
	margin:50px;
	height : 30px;
}

th {
border:3px gray solid;
	margin:50px;
	height : 30px;
text-align:center;

}
.update-member{
	text-align:center;
}
.my-right {
	text-align:right;
	
}
td.mytd1 {
	width:20%;
	text-align: center;
	height: 27px;
	line-height: 27px;
}

td.mytd2 {
	width : auto;
	text-align: left;
	padding:10px;
	
}		

label.repl{
	width:100px;
}

label {
	height:30px;
    line-height: 30px;
	width:120px;
	text-align:center;
	font-family: 'ChosunSg';
	font-size:1.1rem;
	font-weight: 500;
	border-radius:7px;
 }
 
.text {
 	height:30px;
 	border-radius: 7px;
 }
 
 .myContainer{
 	display : flex;
 	justify-content:around;
 	width:auto;
 	margin-left:10px;
 	
 }
 
 .bsbox {
    display: flex;
    flex-wrap: wrap; /* 요소들이 필요한만큼 여러 줄로 나뉘어 배치됨 */
    justify-content: center; /* 가로 정렬을 가운데 정렬로 설정 */
    align-items: center; /* 세로 정렬을 가운데 정렬로 설정 */
}

/* 미디어 쿼리를 사용하여 화면이 특정 크기 이하일 때 요소의 크기나 배열 방식을 조절 */
@media screen and (max-width: 300px) {
    .bsbox {
        justify-content: flex-start; /* 화면이 좁아지면 요소들을 왼쪽 정렬로 변경 */
    }
}
 
 .bsbox1{
    display: flex;
 	width:30%;
 	height:200px;
 	background-color: cornsilk;;
 	margin:10px;
    justify-content: center; /* 가로 정렬을 가운데 정렬로 설정 */
    align-items: center; /* 세로 정렬을 가운데 정렬로 설정 */
    color:black;
    font-size:1.5rem;
    font-weight:600;
}
 .bsbox1:nth-child(1) {
    background-color: rgba(255, 0, 0, 0.2); /* 빨간색의 투명도를 20%로 지정 */
}

.bsbox1:nth-child(2) {
    background-color: rgba(255, 165, 0, 0.2); /* 주황색의 투명도를 20%로 지정 */
}

.bsbox1:nth-child(3) {
    background-color: rgba(255, 255, 0, 0.2); /* 노란색의 투명도를 20%로 지정 */
}

.bsbox1:nth-child(4) {
    background-color: rgba(0, 128, 0, 0.2); /* 초록색의 투명도를 20%로 지정 */
}

.bsbox1:nth-child(5) {
    background-color: rgba(0, 0, 255, 0.2); /* 파란색의 투명도를 20%로 지정 */
}

.bsbox1:nth-child(6) {
    background-color: rgba(75, 0, 130, 0.2); /* 남색(인디고)의 투명도를 20%로 지정 */
}

.bsbox1:nth-child(7) {
    background-color: rgba(238, 130, 238, 0.2); /* 보라색(자두)의 투명도를 20%로 지정 */
}
 
 .bdImgContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
}

.bdImg {
    width: calc(25% - 10px); /* 4개의 이미지가 있으므로 각 이미지의 너비는 25%입니다. 여백을 고려하여 계산합니다. */
    height: auto;
    margin-bottom: 20px;
    border: 1px grey solid;
    border-radius: 7px;
}