/* 조선굵은고딕 */
@font-face {
    font-family: 'ChosunKg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 조선일보명조 */
@font-face {
    font-family: 'Chosunilbo_myungjo'; 
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 조선견고딕 */
@font-face {
    font-family: 'ChosunBg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 조선가는고딕 */
@font-face {
    font-family: 'ChosunSg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}    
@font-face {
    font-family: 'SOGANGUNIVERSITYTTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SOGANGUNIVERSITYTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.required-form-marker{
	color:red;
	font-weight:bolder;
	
}

.logo-text{
text-align:center;
	padding:5px;
	color:violet;
	margin-top: 20px;
	background-color:cornsilk;
	border:5px solid cornsilk;
	border-radius:20px;
	font-size:2rem;
	font-weight:800;
	text-shadow:3px 3px 5px black;
}

.footer-row{
	 display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin:20px;
	
}    
.bs-radio{
	font-size:1.3rem;
	font-weight:900;
	margin-bottom:30px;
	height: 50px;
	background-color:aliceblue;
	border-radius:10px;
	line-height:50px;
	padding-left:30px;
	padding-right:30px;
	}
.bs-radio input[type="radio"] {
    width:auto;
    margin-left:20px; /* 라디오 버튼 간격 조정 */
    }
.bs-title{
	display:inline-block;
	width:60%;
	font-size:2rem;
	}
.mybtn-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.mybtn {
    width: 100px;
    height: 40px;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 10px;
    margin-right: 20px; /* 각 버튼 사이에 20px 간격을 주기 위해 오른쪽 마진을 설정합니다. */
    margin-left:20px;
}

/* 마지막 버튼에는 오른쪽 마진을 주지 않습니다. */
.mybtn:last-child {
    margin-right: 0;
}
.myTitle{
	text-align:center;
	width:40%;
	border: 5px solid grey;
	margin:100px auto;
	padding:20px;
	border-radius:10px;
	box-shadow: 10px 10px 10px rgba(30, 50, 100, 0.5); /* Add shadow effect */
	}
.bs-body-div{
	display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.bs-box{
    display: flex; /* 부모 요소를 Flex Container로 설정 */
    flex-wrap: wrap;
    margin: 20px auto;
	justify-content: left; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    }
    
.bs-box1{
	border:1px grey dotted;
	border-radius:20px;
	text-align:center;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 400px;
    position: relative; /* 상대적인 위치 지정 */
    }
.bs-box1 img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}
.author-box{
	display: flex; /* 부모 요소를 Flex Container로 설정 */
    flex-wrap:wrap;
    margin:20px;
}
.author-box1{
	width: 400px;
    margin: 20px;
    margin-top:20px;
    margin-bottom:20px;
}

.bdId {
	color:darkgey;
	font-size:0.8rem;
}

.bdTitle{
	color:black;
	background-color:corn-silk;
	font-size:1.1rem;
}

.bdWriter{
	color:grey;
	font-size:0.8rem;
}
.detailBody-parent{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	margin:60px auto;
}

.detailBody{
	padding:10px;
	display:inline-block;
	text-align:center;
	margin:0 10%;
}
.repl-area1{
	text-align:left;
	margin-left:10%;
	padding-left:10px;
}
.header__menu{
	font-family: 'ChosunKg';
	font-weight: bolder;
	font-size: 1.2rem;
}
.repl-area2{
	text-align:left;
	margin-left:10%;
	padding-left:10px;
}
.btn-write{
	text-align:right;
	padding-right:20%;
}
.center{
	text-align:center;
	padding:30px;
}

.mybody {
    width: auto;
    margin: 0 auto;
    background-color: #f1f1f1;
}

table {
	border-collapse:collapse;
	text-align:center;
}
td, th{
 text-align:center;
 padding:5px;
 height:15px;
 width:500px;
}
td>.td-title{
	width:300px;
	text-align:center;
}
.bd-table thead, tfoot{
	background : darkgrey;
	color:yellow;
}


tbody tr:nth-child(even){
	background:aliceblue;
}

tbody tr:hover{
	background:pink;
}

/* table { */
/*     border: 2px navy solid; */
/*     width: auto; */
/*     border-radius: 5px; */
/*     margin: 0 10%; Center horizontally */
/*     box-shadow: 10px 10px 10px rgba(30, 50, 100, 0.5); Add shadow effect	 */
/* } */

.audio {
	width: 80%;
}

input{
		padding-left:10px;
}

input[type="text"] {
		width:60%;
	  	align-items: center;
	  	border-radius:8px;
	  	font-family: 'ChosunSg';
		font-size:1.1rem;
		font-weight: 600;		
}
.update-member{
	text-align:center;
}
.my-right {
	text-align:right;
	
}
td.mytd1 {
	width:20%;
	height: 27px;
	line-height: 27px;
}

td.mytd2 {
	width : auto;
	text-align: left;
	padding:10px;
	
}		

label.repl{
	width:100px;
}

label {
	height:30px;
    line-height: 30px;
	width:120px;
	text-align:center;
	font-family: 'ChosunSg';
	font-size:1.1rem;
	font-weight: 500;
	border-radius:7px;
 }
 
.text {
 	height:30px;
 	border-radius: 7px;
 }
 
 .myContainer{
 	display : flex;
 	justify-content:around;
 	width:auto;
 	margin-left:10px;
 	
 }
 
 .bsbox {
    display: flex;
    flex-wrap: wrap; /* 요소들이 필요한만큼 여러 줄로 나뉘어 배치됨 */
    justify-content: center; /* 가로 정렬을 가운데 정렬로 설정 */
    align-items: center; /* 세로 정렬을 가운데 정렬로 설정 */
}

/* 미디어 쿼리를 사용하여 화면이 특정 크기 이하일 때 요소의 크기나 배열 방식을 조절 */
@media screen and (max-width: 300px) {
    .bsbox {
        justify-content: flex-start; /* 화면이 좁아지면 요소들을 왼쪽 정렬로 변경 */
    }
}
 
 .bsbox1{
    display: flex;
 	width:30%;
 	height:200px;
 	background-color: cornsilk;;
 	margin:10px;
    justify-content: center; /* 가로 정렬을 가운데 정렬로 설정 */
    align-items: center; /* 세로 정렬을 가운데 정렬로 설정 */
    color:black;
    font-size:1.5rem;
    font-weight:600;
}
 .bsbox1:nth-child(1) {
    background-color: rgba(255, 0, 0, 0.2); /* 빨간색의 투명도를 20%로 지정 */
}

.bsbox1:nth-child(2) {
    background-color: rgba(255, 165, 0, 0.2); /* 주황색의 투명도를 20%로 지정 */
}

.bsbox1:nth-child(3) {
    background-color: rgba(255, 255, 0, 0.2); /* 노란색의 투명도를 20%로 지정 */
}

.bsbox1:nth-child(4) {
    background-color: rgba(0, 128, 0, 0.2); /* 초록색의 투명도를 20%로 지정 */
}

.bsbox1:nth-child(5) {
    background-color: rgba(0, 0, 255, 0.2); /* 파란색의 투명도를 20%로 지정 */
}

.bsbox1:nth-child(6) {
    background-color: rgba(75, 0, 130, 0.2); /* 남색(인디고)의 투명도를 20%로 지정 */
}

.bsbox1:nth-child(7) {
    background-color: rgba(238, 130, 238, 0.2); /* 보라색(자두)의 투명도를 20%로 지정 */
}
 
 .bdImgContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
}

.bdImg {
    width: calc(25% - 10px); /* 4개의 이미지가 있으므로 각 이미지의 너비는 25%입니다. 여백을 고려하여 계산합니다. */
    height: auto;
    margin-bottom: 20px;
    border: 1px grey solid;
    border-radius: 7px;
}