@font-face {
    font-family: 'ChosunKg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChosunSg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

.mybody {
		display: block;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		height: 100vh;
		background-color: #f1f1f1;
}
.audio {
	width: 80%;
}

input[type="text"] {
		width:70%;
	  	align-items: center;
	  	border-radius:8px;
	  	font-family: 'ChosunSg';
		font-size:1.1rem;
		font-weight: 600;		
}
table{
	border:3px navy solid;
	text-align:center;
	width :70%;
	margin:50px;
	border-radius:5px;
}

td {
	width:100%;
	text-align: left;
	border:3px gray solid;
	margin:50px;
	height : 30px;
	
	
}
.my-right {
	text-align:right;
	
}
td.mytd1 {
	width:25%;
	text-align: center;
	height: 27px;
	line-height: 27px;
}

td.mytd2 {
	width : auto;
	text-align: left;
	padding:10px;
	
}		

label {
	height:30px;
    line-height: 30px;
	width:150px;
	text-align:center;
	font-family: 'ChosunSg';
	font-size:1.1rem;
	font-weight: 500;
	border-radius:7px;
 }
 
.text {
 	height:30px;
 	border-radius: 7px;
 }
 
 .myContainer{
 	display : flex;
 	justify-content:around;
 	width:auto;
 	margin-left:10px;
 	
 }
 
 .bdImgContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
}

.bdImg {
    width: calc(25% - 10px); /* 4개의 이미지가 있으므로 각 이미지의 너비는 25%입니다. 여백을 고려하여 계산합니다. */
    height: auto;
    margin-bottom: 20px;
    border: 1px grey solid;
    border-radius: 7px;
}