<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content" align="center">


	<h3><span>방송</span></h3>  
  	
  	
  	  
  <div class="audio">
  <audio controls autoplay>
    <source src="ftp://your_ftp_server/a.mp3" type="audio/mpeg">
  </audio>

  <h3>WMA 파일 자동 재생</h3>
  <audio controls autoplay>
    <source src="ftp://your_ftp_server/b.wma" type="audio/x-ms-wma">
  </audio>
  </div>

</div>
</body>
</html>