<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>기념관 게시글 상세 조회</title>
<script>
// 사진 불러 오기

</script>
</head>
<body>
<div layout:fragment="content" align="center">
<br>
		
	<div style="border-color:red; padding:5px;" >
		 <h4>#<span th:text="${authorDTO.bdId}"></span>. 
		&nbsp;<span style="width:200px " th:text="${authorDTO.title}">제목</span> <br></h4>
		<div align="right">
		<span th:text="${#dates.format(authorDTO.createDt, 'yy-MM-dd | hh:mm')}"></span>
		 | 조회수:&nbsp; <span th:text="${authorDTO.readCnt}"></span>
		 <br>
		 
		 </div>
		  
		<hr>
		
<table>
	<tr>
		<td><img th:src="@{/author/thumbnails(fileName=${authorDTO.authorUUID})}" class="images"/></td>
	</tr>
		<td><span th:utext="${authorDTO.content}"></span></td>
</table>
		
	</div>
		<span class="mybtn" th:if="|${session.memberId=='admin'}|">
			<input type="button" value="수정" th:onclick="|location.href='@{/author/updateBd(bdId=${#strings.toString(authorDTO.bdId)})}'|" />
			<input type="button" value="삭제" th:onclick="|location.href='@{/author/deleteBd(bdId=${#strings.toString(authorDTO.bdId)})}'|" /><br><br>
			<input type="button" value="글쓰기" th:onclick="checkSession()" />
		</span>
			<input type="button" value="목록보기" th:onclick="|location.href='@{/author/main}'|" />
<hr>
</div>
</body>
</html>