<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>도서출판암마</title>
</head>
<body>
<div layout:fragment="content">

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a th:href="@{/main}"><i class="fa fa-home"></i> Home</a>
                       <a th:href="@{/book/main}">도서출판암마</a>
                       <a th:href="@{/book/main}">설립취지</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    
    <!-- Blog Section Begin -->
   <section class="blog spad">
 <div align="center"><img th:src="@{/img/book/purpose.gif}" /></div>
  	
</section>
 
</div>
</body>
</html>