<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>오아시스아카데미 방송 메인페이지</title>
<link rel="stylesheet" th:href="@{/ashion/css/mycss.css}" type="text/css">
<script>
	function checkSession(number) {

		location.href = "/bs/createBd?bsCategory=" + number;
	}
</script>
</head>
<body>
	<div layout:fragment="content">


		<!-- Breadcrumb Begin -->
		<div class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__links">
							<a href="./index.html"><i class="fa fa-home"></i> Home</a> <span><a
								th:href="@{/bs/main}">방송</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->
		<!-- Blog Section Begin -->
		<div style="width: 720px; text-align:right;" class="mybtn"
			th:if="${session.memberId == 'admin'}">
			<input type="button" value="글쓰기" onclick="checkSession()" /> <br>
			<br>
		</div>

		<section class="blog spad">
			<div class="myContainer" th:each="bsDTO : ${bdList}">
								<div class="blog__item__text">
									<a th:href="@{/bs/bdDetail(bdId=${bsDTO.bdId})}"> 
									<img class="bdImg"
										th:src="@{/bs/thumbnails(fileName=${bsDTO.bsUUID})}"/>
									</a>
									<h6>
										<span th:text="${bsDTO.title}">제목</span>
									</h6>
									<ul>
										<li>by <span>운영자</span></li>
										<li th:text="${#dates.format(bsDTO.createDt , 'yyyy-MM-dd')}">작성일</li>
									</ul>
								</div>
			</div>
		</section>

		<!-- Blog Section End -->

	</div>
</body>
</html>