<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>방송</title>
<script>
	function checkSession() {
		
		let jsSession = "[[${session.memberId}]]";
		console.log(jsSession);
		/*
		if (jsSession == "") {
			alert("빈문자열")
		} 
		if (jsSession == null) {
			alert("null")
		} 
		if (jsSession == undefined) {
			alert("undifined")
		} 
		*/
		
// 세션확인 있으면 > 로그인ok > 글쓰기 화면으로
		if (jsSession != "") {
			// alert('로그인 확인 했습니다. 글쓰기 화면으로 이동합니다.');
			location.href = "/bs/createBd";
		} else { //	없으면 > 로그인x > 로그인화면으로
			alert('먼저 로그인을 해야 합니다. 로그인 화면으로 이동합니다.')
			location.href="/member/loginMember";
		}
	}
</script>

</head>
<body>

<div align="center" layout:fragment="content">

	<h2> 오아시스 방송 </h2>
	<div style="width:720px;" align="right" class="mybtn" th:if="${session.memberId == 'admin'}">
		<input type="button" value="글쓰기" th:onclick="checkSession()"/>
		<br><br>
	</div>
		<ol>
			<li><a th:href="@{/bs/1}">월요일방송</a></li>
			<li><a th:href="@{/bs/2}">화요일방송</a></li>
			<li><a th:href="@{/bs/3}">수요일방송</a></li>
			<li><a th:href="@{/bs/4}">목요일방송</a></li>
			<li><a th:href="@{/bs/5}">금요일방송</a></li>
			<li><a th:href="@{/bs/6}">토요일방송</a></li>
			<li><a th:href="@{/bs/7}">주일 방송</a></li>
		</ol>

	</div>
</body>
</html>